<h1>Import#index</h1>
<p>Find me in app/views/import/index.html.erb</p>

<%= form_tag import_import_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<table class="table table-striped" data-toggle="table" data-sortable="true">
  <thead>
    <tr>
      <th data-sortable="true">First Name</th>
      <th data-sortable="true">Last Name</th>
      <th data-sortable="true">Gender</th>
      <th data-sortable="true">Species</th>
      <th data-sortable="true">Weapon</th>
      <th data-sortable="true">Affiliations</th>
      <th data-sortable="true">Locations</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |p| %>
      <tr>
        <td><%= p.first_name %></td>
        <td><%= p.last_name %></td>
        <td><%= p.gender %></td>
        <td><%= p.species %></td>
        <td><%= p.weapon %></td>
        <td>
          <%= p.affiliations.map(&:name).join(", ") %>
        </td>
        <td>
          <%= p.locations.map(&:name).join(", ") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @people %>
